<!DOCTYPE html>
<html>
    <head>
        <title>My To-Do List</title>
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a style="text-decoration: none;" href="{% url 'todo_list_list' %}">Main Page</a>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <p>
                    <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todo_list.items.all %}
                        <tr>
                            <td>
                                <a>{{ task.task }}</a>
                            </td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
