<!DOCTYPE html>
<html>
    <head>
        <title>Update Task</title>
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a style="text-decoration: none;" href="{% url 'todo_list_list' %}">Main Page</a>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <h1>Update Task</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
